body.light {
  background-color: #f8f9fa;
  color: #000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .card {
  background-color: #1e1e1e;
  color: white;
}

.dark .navbar {
  background-color: #000 !important;
}

.dark button {
  border: 1px solid white;
}
